/* Navbar.module.css */
.sideNav{
    width: 250px;
    height: 100vh;
    background-color: #1a1a1a;
    position: fixed;
}
.sideNav-content{
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #1d1d1d;
}

.logoBox{
   text-align: center;
   width:100%;
   height: 30vh;
   max-width: 100%;
   max-height: 100%; 
}

.logoBox img{
    width: auto;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
}

.name{
    color: white;
    margin: 0px 0px;
    padding: 20% 20%;
    text-align: center;
    background-color: rgb(18, 18, 18);
}

.navLink{
    display: block;
    margin: 0px 0px;
    padding: 5% 20%;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #1d1d1d;
    text-decoration: none;
    font-size: 150%;
    text-align: center;
    color: darkgray;
}